/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.dxrmGe { display: inline-flex; vertical-align: middle; }
.dxrmGe picture { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-0a958723 {
		font-size: 40px;
	}
	.__pf .pf-fbfd24c0 {
		font-size: 18px;
	}
	.__pf .pf-24c0bd94 {
		font-size: 27px;
		 text-align: center;
	}
	.__pf .pf-e459dc8e {
		text-align: center;
	}
	.__pf .pf-9da2d4d4 {
		display: flex;
		 background-position: 50% 50%;
	}
	.__pf .pf-d4d42409 {
		background: rgb(245, 245, 245);
		 border-style: none;
	}
	.__pf .pf-1ae1e95f {
		font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-f313992d {
		margin-bottom: 0px;
		 line-height: 1.4;
	}
	.__pf .pf-2dc67e68 {
		text-align: center;
	}
	.__pf .pf-68af7f06 {
		background: rgb(245, 245, 245);
		 border-style: none;
	}
	.__pf .pf-3c3932a7 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-b193c503 {
		margin-bottom: 0px;
		 line-height: 1.4;
	}
	.__pf .pf-03b0e822 {
		text-align: center;
	}
	.__pf .pf-22a7b1ce {
		background: rgb(245, 245, 245);
		 display: flex;
		 flex-direction: row-reverse;
		 border-style: none;
	}
	.__pf .pf-9bee0db4 {
		font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-4f35f7c4 {
		margin-bottom: 0px;
		 line-height: 1.4;
	}
	.__pf .pf-c44a6d43 {
		text-align: center;
	}
	.__pf .pf-b2594935 {
		background: rgb(245, 245, 245);
		 border-style: none;
	}
	.__pf .pf-4b7c83ae {
		font-weight: 500;
		 color: rgb(45, 45, 45);
	}
	.__pf .pf-4bcbbde6 {
		margin-bottom: 0px;
		 line-height: 1.4;
	}
	.__pf .pf-e62a9f74 {
		text-align: center;
	}
}
						